@keyframes viture {
    0%{
        left: 45%;
    }
    100%{
        left: 60%;
    }
}
@keyframes openLeft {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
@keyframes openRight {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
@keyframes contentNone {
    0%{
        opacity: 1;
        transform:translate(-50%,-50%) translateY(0);
    }
    100%{
        transform:translate(-50%,-50%) translateY(-50px);
        opacity: 0;    }
}
@keyframes imgNone {
    0%{
        opacity: 1;
        transform:translate(-50%,-50%) scale(1)
    }
    100%{
        transform:translate(-50%,-50%) scale(0.5);
        opacity: 0;
    }
}
.section-1{
    color: white;
    position: relative;
    transition: all 1.2s ease-in-out;
    width: 100%;
    height: 100vh;
    opacity: 1;
    background: linear-gradient(to right, #050412 10%, #151456 50%, transparent 90%), 
    radial-gradient(circle at top right, #8F4675 10%, transparent 70%);    
}
.section-1.setSection1{
    opacity: 0;
}
.opening {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.opening {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.opening .left {
    width: 100%;
    height: 100vh;
    clip-path: polygon(0% 0%, 40% 0%, 60% 100%, 0% 100%);
    position: absolute; 
    top: 0;
    left: 0;
    background: black;
}
.opening .right{
    width: 100%;
    height: 100vh;
    background:black;
    clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 60% 100%); 
    position: absolute; 
    top: 0%;
    right: 0%;
}
.opening .left.setLeft{
    border-right: 1px solid orangered;
    animation: openLeft 1.5s ease-in-out forwards;
}
.opening .right.setRight{
    border-left: 1px solid orangered;
    animation: openRight 1.5s ease-in-out forwards;
}
.imgSection1{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100vh;
    z-index: 0;
    transition: all 0.8s ease-in-out;
    background-color: black;
    overflow: hidden;

}
.imgSection1 img{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    max-width: 60%;
    image-rendering: high-quality;
    height: auto;
    object-fit: cover;
    background-position: center;
    z-index: 0;
    overflow: hidden;
    transition: all 2s ease-in-out;
    margin: auto;
}
.imgSection1 img:first-child{
    opacity: 1;
}
.imgSection1 img:last-child{
    opacity: 0;    
    left: 60%;
}
.imgSection1.setImg img:first-child{
    opacity: 0;}
.imgSection1.updateImg img:last-child{
    width: 50%;
    opacity: 1;
    image-rendering: high-quality;
    height: auto;
    object-fit: cover;
    background-position: center;
}
.imgSection1.noneImg img:last-child{
    animation: imgNone 1.5s ease-in-out forwards;
}
.section-1 .content{
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}
.content.setContent{
    animation: contentNone 1.5s ease-in-out forwards;
}
.headerContent{
    text-align: center;
    padding-top: 30px;
}
.headerContent h6 {
    letter-spacing: 3px;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); 
}

.headerContent .viture{
    opacity: 1;
}
.headerContent .viture::after{
    position:absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%) rotateZ(20deg);
    content: '';
    display: block;
    width: 10px;
    height: 100%;
    background-color: black;
    animation: viture 1s ease-in-out forwards;
}
.name {
    display: flex;
    align-items: start;
    padding-top: 100px;
    transition: all 0.8s ease-in-out;
    opacity: 0;
}
.name.setName{
    opacity: 1;
}
.name button{
    background-color: rgb(195,19,35);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.name a{
    margin-left: 10px;
    font-size: 48px;
    line-height: 30px;
}
.ItemBottom{
    transition: all 0.8s ease-in-out;
    opacity: 0;
}
.ItemBottom.setBottom{
    opacity: 1;
}
.title{
    width: 240px;
    font-size: 28px;
    font-weight: 400;
    padding-top: 80px;

}
.title span{
    color: rgb(195,19,35);
    font-weight: 500;
}
.clickVideo{
    font-size: 16px;
    opacity: 0;
    transition: all 0.8s ease-in-out;
}
.clickVideo.setvideo{
    opacity: 1;
}