.containerBox-3 {
    top: 30%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 0px 50px 3px rgba(107, 87, 132, 0.1);
    transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease;
    z-index: 1;
    background-color: white;
    align-items: center;

}

/* Khi containerBox-3 có class centered, contentBox-3 sẽ hiển thị mượt */
.containerBox-3.centered .contentBox-3 {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.containerBox-3 .childBox-3 {
    background-color: #8C8F9E;
    opacity: 0.5;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 0 10px 40px rgba(0, 0, 255, 0.1);
}

.containerBox-3 .childBox-3 p {
    margin: 0px;
}

.containerBox-3 .childBox-3 span {
    padding: 5px 0px;
    font-size: 28px;
}

/* Làm mượt animation của contentBox-3 */
.containerBox-3 .contentBox-3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 88%;
    left: 88%;
    transform: translate(-50%, -50%) scale(0.8);
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    align-items: center;
    box-shadow: 0px 0px 50px 3px rgba(107, 87, 132, 0.1);
    opacity: 0;
}

/* Làm mượt hiển thị chữ */
.containerBox-3 .contentBox-3 p {
    color: gray;
    font-size: 12px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.containerBox-3.centered .contentBox-3 p {
    opacity: 1;
    transform: translateY(0);
}

.containerBox-3 .contentBox-3 span {
    font-size: 28px;
    text-align: center;
    line-height: 36px;
}

.containerBox-3 .contentBox-3 a {
    font-size: 24px;
}
